.login-form{
  width: 100%;
  max-width: 410px;
  padding: 15px;
  margin: auto;
  height: 100%;
  background-color: khaki;
  
}

.all{
  background-image: url(img.jpg);
  max-width: 100%;
}

.register-form{
  width: 100%;
  max-width: 400px;
  padding:  15px;
  margin: auto;
  height: 100%;
  background-color: orange;
}

.all-reg{
  background-image: url(reg1.jpeg);
  max-width: 100%;
}
.ktm{
  width: 150px;
  height: 400px;
}